<section  class="bg-light" id="services">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-4">
        <i class="fa fa-cloud"></i>
        <h3>Cloud</h3>
        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-cog"></i>
        <h3>Flexibility</h3>
        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-bookmark"></i>
        <h3>Events</h3>
        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.</p>
      </div>
    </div>
  </div>
</section>
