section {
  padding-bottom: 30px;
  padding-top: 30px;

  hr{
    width: 50%;
  }

  .carousel-item img {
    height: 500px;
  }

  h1 {
    text-transform: uppercase;
  }

  .portfolio-item {
    width: 100%;
  }
}
