@import '../../../../scss/includes';

section {
  padding: 30px;

  hr{
    width: 40%;
  }

  input, textarea {
    padding: 25px;
  }

  .btn {
    width: 100%;
    padding: 15px;
  }

  form {
    width: 100%;
  }

  h1 {
    text-transform: uppercase;
  }

  .card {
    border: 0;
  }
}
