<section @fade>
  <div class="container text-center">
    <h1>Contact Us</h1>
    <hr>
    <div class="row">
      <div class="col-md-12 col-lg-8 ml-auto mr-auto">
        <div class="card">
          <div class="card-body">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="First name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="your-email@domain.com">
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="6" placeholder="Share with us your oppinions"></textarea>
              </div>
              <div class="form-group">
                <button class="btn btn-outline-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
