@import '../../../../scss/includes';
.navbar {
  .fa {
    font-size: $icon-size;
  }

  .nav-social .nav-link {
    color: color($primary);
  }

  hr {
    background: color($primary);
    display: none;
  }

  @media (max-width: 768px) {
    .nav-social {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    .nav-social .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
    hr {
      display: block;
      width: 50%;
    }
  }

}
