<section @fade>
  <div class="container text-center">
    <h1>About</h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <img [src]="'../../../../assets/img/mohammad-dark.png'" alt="discover">
      </div>
      <div class="col-md-6">
        <div class="card text-justify">
          <div class="card-body">
            <p class="card-text">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
              aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
              sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
              craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
              occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
              labore sustainable VHS.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

